body {
    
    padding: 0;
    
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 70px;
}

.skip-to-content {
    position: fixed;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.skip-to-content:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: #007bff; 
    color: #fff; 
    padding: 5px;
    border-radius: 5px;
    }


nav {
    background-color: #333;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        margin-top: 20px; 
        margin-bottom: 10px; 
    }
    }

    nav {
        background-color: #333;
        color: white;
        text-align: center;
        display: block; 
    }

    nav a, nav span {
        margin: 5px;
        }

    .image a {
            max-width: 80%; 
        }

    .imagetext {
            font-size: 16px;
        }
    
